* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.header {
    width: 100%;
    height: 12vh;
     /* background-color: red; */
}
.logo {
    position: absolute;
    left: 15%;
    top: 4%;
    font-size: 25px;
    cursor: pointer;
}
.navigation {
    position: absolute;
    left: 40%;
    top: 4%;
    font-size: 20px;
}
.navigation a {
    color: black;
    text-decoration: none;
    padding-left: 60px;
}
.menu_bar {
    position: absolute;
    right: 8%;
    top: 3%;
    cursor: pointer;
}
.home_body {
    width: 100%;
    height: 55vh;
    background-color: black;
}
.text {
    color: white;
    font-size: 70px;
    position: relative;
    top: 120px;
    left: 10%;
    cursor: pointer;
}
.div {
    width: 100%;
    height: 85vh;
    background-color: rgb(248, 246, 246);
    position: absolute;
    top: 67%;
}
.contact {
    width: 29%;
    height: 40vh;
    border: 1px solid silver;
    position: absolute;
    left: 6%;
    top: 35%;
}
.all {
    width: 30%;
    height: 40vh;
    border: 1px solid silver;
    position: absolute;
    left: 35%;
    top: 35%;
}
.fabrice {
    width: 29%;
    height: 40vh;
    border: 1px solid silver;
    position: absolute;
    left: 65%;
    top: 35%;
}
.contact p {
    /* color: white; */
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 50px;
    cursor: pointer;
}
.contact span a {
    color: black;
    font-size: 23px;
    text-decoration: none;
    position: relative;
    left: 27%;
    top: 40%;
}
.all p {
    /* color: white; */
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 50px;
    cursor: pointer;
}
.all span {
    /* color: white; */
    font-size: 23px;
    position: relative;
    left: 31%;
    top: 40%;
    cursor: pointer;
}
.fabrice p {
    /* color: white; */
    font-size: 50px;
    /* text-align: center; */
    left: 20%;
    position: relative;
    top: 50px;
    cursor: pointer;
}
.inst img {
    width: 30px;
    position: absolute;
    left: 20%;
    top: 150px;
}
.inst img:hover {
    cursor: pointer;
}
.face img {
    width: 30px;
    position: absolute;
    left: 40%;
    top: 150px;
}
.face img:hover {
    cursor: pointer;
}
.twit img {
    width: 30px;
    position: absolute;
    left: 63%;
    top: 150px;
}
.twit img:hover {
    cursor: pointer;
}
.touch {
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    position: absolute;
    top: 155%;
}
.touch p {
    font-size: 20px;
    position: absolute;
    left: 5%;
    top: 15px;
    color: rgb(154, 150, 150);
}
.touch span {
    font-size: 50px;
    position: relative;
    left: 5%;
    top: 50px;
}
.p {
    width: 40%;
    position: absolute;
    top: 150px;
    left: 5%;
    font-size: 20px;
}
.input {
    width: 30%;
    /* background-color: teal; */
    position: absolute;
    right: 10%;
}
#name {
    padding: 15px;
    border: 1px solid silver;
    cursor: pointer;
}
#email {
    padding: 15px;
    border: 1px solid silver;
    position: absolute;
    left: 53%;
    cursor: pointer;
}
#textarea {
    width: 31%;
    height: 50vh;
    position: absolute;
    left: 60%;
    top: 23%;
}
.about_read {
    width: 12%;
    height: 8vh;
    position: absolute;
    left: 70%;
    top: 230%;
    font-size: 25px;
    color: black;
    border: 2px solid black;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    cursor: pointer;
}
.about_read:hover {
    background-color: black;
    color: white;
}
.about_read p {
    text-align: center;
    position: relative;
    top: 11px;
}
.footer {
    width: 100%;
    height: 71vh;
    background-color: black;
    position: absolute;
    top: 245%;
    color: white;
}
.home {
    position: absolute;
    left: 13%;
    top: 46%;
}
.home a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.about_footer {
    position: relative;
    left: 250%;
    top: -31px;
}
.footer_logo {
    position: relative;
    left: 520%;
    top: -75px;
    cursor: pointer;
}
.footer_logo p {
    font-size: 40px;
}
.service {
    position: relative;
    left: 790%;
    top: -110px;
    font-size: 25px;
}
.gallery {
    position: relative;
    left: 1030%;
    top: -140px;
    font-size: 25px;
}
.footer_border {
    width: 1100%;
    position: absolute;
    top: 60%;
    border-bottom: 1px solid white;
}